@model List<TbCatMetodoPago>

<h1>Métodos De Pago</h1>

<p>
    <a asp-action="Create" class="btn btn-success mb-3">Agregar Pago</a>
</p>

<!-- Tabla de metodos de pago -->
<div class="table-responsive">
    <table class="table table-hover table-striped table-bordered">
        <thead class="table-primary">
            <tr>

                <th>Pago</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tbCatMetodoPago in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(m => tbCatMetodoPago.DescripcionPago)</td>
                    <td>
                        <!-- Botones para editar y eliminar -->
                        <a asp-action="Edit" asp-route-id="@tbCatMetodoPago.IdPago" class="btn btn-warning btn-sm">
                            <i class="bi bi-pencil"></i> Editar
                        </a>
                        <a asp-action="Delete" asp-route-id="@tbCatMetodoPago.IdPago" class="btn btn-danger btn-sm">
                            <i class="bi bi-trash"></i> Eliminar
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>