@model TbCatCliente

<h1>Eliminar Proveedor</h1>

<p>¿Está seguro de que desea eliminar el cliente <strong>@Model.NombreCliente</strong>?</p>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="IdCliente" />
    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a href="@Url.Action("Index")" class="btn btn-secondary">Cancelar</a>
</form>